<h1>All Planets!</h1>

<div class="planets-container">
<% @planets.each do |planet| %>
  <div class="circle"><%= link_to planet.name, planet_path(planet)%></div>
<% end %>
</div>

<%= link_to "Random Planet", planets_random_path, class: "random" %>