// Place all the styles related to the Moons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    height: 100%;
    // background-color: #90cfec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

li {
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

.all-moons,
.all-planets {
    font-family: 'Poppins', sans-serif;
}

.circle {
    border-radius: 50%;
    border: 1px black solid;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moons-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 50px;
}