// Place all the styles related to the Planets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    height: 100%;
    background-color: #d1bdfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

#random,
#all {
    font-family: 'Poppins', sans-serif;
}
