<h1>All Moons!</h1>

<ul>
<% @moons.each do |moon| %>
  <li><%= link_to moon.name, planet_moon_path(@planet.id, moon.id) %></li>
<% end %>
</ul>

<div id="all"><%= link_to "All Planets", planets_path %></div>