<h1>All Moons!</h1>

<div class="moons-container">
<% @moons.each do |moon| %>
  <div class="circle"><%= link_to moon.name, moon_path(moon)%></li></div>
<% end %>
</div>

<%= link_to "All Planets", planets_path, class: "all-planets" %>